<div class="jumbotron">
<h1>Pages#home</h1>
<p>Rough Draft of social app</p></div>
</div>
<!--
<div class="bubble container"> 
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="http://www.w3schools.com/tags/tag_iframe.asp"></iframe>
	</div>
</br>
	<div class="row">
  		<div class="col-xs-10 col-md-6">
    	<a href="#" class="thumbnail">
  			<div class="embed-responsive embed-responsive-4by3">
  			<iframe class="embed-responsive-item" src="http://gameinfo.na.leagueoflegends.com/en/game-info/"></iframe>
			</div>
		</a>
		</div>
  		<div class="col-xs-10 col-md-6">
    	<a href="#" class="thumbnail">
  			<div class="embed-responsive embed-responsive-4by3">
  			<iframe class="embed-responsive-item" src="http://www.engadget.com"></iframe>
			</div>
		</a>
		</div>
	</div>
</div> <!--container close--> -->

